<h1>Experience</h1>

<div class="md:flex md:flex-row-reverse">
  <div class="mx-auto my-6 md:ml-10">
    <img
      src="/images/federico-respini-sYffw0LNr7s-unsplash.jpg"
      alt="Photo of the sun rising over a field of young grain. Photo by Federico Respini on Unsplash. Source: https://unsplash.com/photos/sYffw0LNr7s"
      class="rounded-xl"
    />

    <div
      class="ml-2 mt-2 pl-2 border-l-2 border-gray-400 text-gray-400 text-sm"
    >
      Photo by
      <a
        class="text-gray-500 font-normal"
        href="https://unsplash.com/photos/sYffw0LNr7s"
        >Federico Respini</a
      >
      on
      <a class="text-gray-500 font-normal" href="https://unsplash.com"
        >Unsplash</a
      >
    </div>
  </div>

  <div class="md:basis-3/4">
    <p class="mb-6">
      Whether you're planning a new project that could fundamentally reshape the
      way that you do business (or just smooth out a part of it), or you need
      some updates to an existing application, I can help.
    </p>

    <h2>New Applications</h2>

    <p class="mb-6">
      I've built projects from the ground up, including including planning,
      designing, coding, and testing. This involves diving deep into the
      processes that make a business work, and then writing the processes and
      rules into code that ties everything together. Sometimes these are
      obvious, but sometimes this uncovers concepts that have gone unwritten or
      unacknowledged for years!
    </p>
  </div>
</div>

<h2>Existing Applications</h2>

<p class="mb-6">
  I've also spent many years working in existing (sometimes called "legacy")
  applications. These are the kind of projects that businesses depend on
  day-to-day and can't break, but may have often been neglected because "they
  just work". Just like a car, though, software needs periodic maintenance or
  the edges and seams will start to fray.
</p>

<h2>Communication</h2>

<p class="mb-6">
  Regardless of the application, strong & compassionate communication is the key
  to any projects success. I work hard to commicate topics clearly so that you
  can keep up to date with a project's status and issues without feeling like
  you need a degree in computer programming.
</p>

<h2>Details</h2>

<h3>Languages</h3>
<p class="mb-6">
  I've used languages as diverse as Scheme, C, C++, Java, Objective-C, Perl,
  Ruby and Go, to name a few, but these days I work mostly in Javascript and
  PHP.
</p>

<h3>Frameworks</h3>
<p class="mb-6">
  I love working with Laravel whenever possible, but I've also worked with Slim.
  I also have years and years of experience working with "no framework" web
  applications in PHP, and I've succcessfully updated several large apps to run
  on Laravel.
</p>

<h3>"Soft Skills"</h3>
<p class="mb-6">
  I've worked within teams of programmers and I'm managed teams of programmers,
  including code reviews, pair programming and merge request reviews. I've
  worked with "stakehodlers" to identify the key features and specifications of
  projects, and then also to troubleshoot issues and refine features as they
  take shape. I always approach communication with teams and stakeholders with
  respect for their time and experience, and compassion for the fact that they
  might not be technical users.
</p>

<h3>Other Skills</h3>
<p class="mb-6">
  Ready for the alphabet soup? MySQL, git, macOS, Debian, CentOS, MariaDB,
  CI/CD, HTML, GitLab, and on and on...
</p>
