<h1 class="text-3xl">Help for software projects of all ages.</h1>

<div class="w-full mb-6">
  <p class="mt-0 mb-4">
    Have ideas for an ambitious application that could redefine your business?
    <span class="font-semibold">Can do.</span>
  </p>

  <p class="mt-0 mb-4">
    Or maybe you have an old work horse that's showing it's age?
    <span class="font-semibold">No sweat.</span>
  </p>

  <p class="mt-0 mb-4">
    It just needs a couple new features?
    <span class="font-semibold">Been there.</span>
  </p>

  <p class="mt-0 mb-4">
    Or maybe it needs some more dramatic updates?
    <span class="font-semibold">Done that.</span>
  </p>

  <p class="mt-0 mb-4">
    <i>While it's still running?</i>
    <a class="underline" href="mailto:clayton@danan.dev">Not a problem.</a>
  </p>

  <p class="mt-0 mb-4">
    I've been building software for over 25 years, and I'm comfortable working
    on everything from brand new projects to tried-and-true applications.
  </p>

  <p class="mt-0 mb-4">
    If you'd like, you can <a href="/experience">read about my experience</a>
    or just go ahead and
    <a href="mailto:clayton@danan.dev">get in touch.</a>
  </p>
</div>

<h3 class="mt-20">Most Recent Writings</h3>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:-mx-6">
  ${ for(recent_posts) }
  <div class="w-full md:mx-6 flex flex-col mb-4">
    <div class="text-gray-700 font-light my-2">
      Published: ${it.published}
    </div>

    <h2 class="text-3xl mt-0 font-normal">
      <a
        href="/${it.path}"
        title="Read more - ${it.title}"
        class="text-gray-900 font-normal"
        >${it.title}</a
      >
    </h2>
  </div>
  ${ endfor }
</div>
