$-- HACK to suppress This document format requires a nonempty <title> element.
<head><title>suppress</title></head>

<h1>
    Blog Posts
    ${ if(tag) }
    for tag
    <span class="inline-block bg-gray-300 hover:bg-blue-200 leading-loose tracking-wide text-gray-800 uppercase text-3xl font-semibold rounded mr-4 px-3 pt-px">
        ${ tag }
    </span>
    ${ else }
        from ${siteName}
    ${ endif }
</h1>

$-- <div class="text-2xl border-b border-blue-200 mb-6 pb-10">
$--    Stuff
$-- </div>

${ for(posts) }
<div>
    <a href="/${it.path}">${it.title}</a>
    <span class="text-gray-600 font-light my-2">
      Published: ${it.published}
    </span>
</div>
${ endfor }
