<nav class="hidden lg:flex items-center justify-end text-lg">
  <a
    title="${siteName} Blog"
    href="/blog"
    class="ml-6 hover:text-blue-600 ${ if(is_blog) } active text-blue-600 ${ else } text-gray-700 ${ endif }"
  >
    Blog
  </a>

  <a
    title="${siteName} Experience"
    href="/experience"
    class="ml-6 hover:text-blue-600 ${ if(is_experience) } active text-blue-600 ${ else } text-gray-700 ${ endif }"
  >
    Experience
  </a>
</nav>
