$-- HACK to suppress "This document format requires a nonempty <title> element."
<head><title>suppress</title></head>

<h1 class="leading-none mb-2">${title}</h1>

<div class="text-gray-700 text-xl font-normal md:mt-0">
    ${siteAuthor}
    •
    ${published}
    ${ if(updated) }
    •
    Updated:
    ${ for(updated) }
    ${updated}${sep},
    ${ endfor }

    ${ endif }
</div>

${ for(tags) }
    <a
        href="/blog/tags/${ it }"
        title="View posts in ${ it }"
        class="inline-block bg-gray-200 hover:bg-blue-200 leading-loose tracking-wide text-gray-800 uppercase text-xs font-semibold rounded mr-4 px-3 pt-px"
    >${ it }</a>
${ endfor }

<div class="border-b border-blue-200 mb-10 pb-4" v-pre>
    ${ body }
</div>
